@font-face {
    font-family: 'texgyreadventor';
    src: url('fonts/texgyreadventor_regular_ubasic/texgyreadventor-regular-webfont.eot');
    src: url('fonts/texgyreadventor_regular_ubasic/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreadventor_regular_ubasic/texgyreadventor-regular-webfont.woff') format('woff'),
         url('fonts/texgyreadventor_regular_ubasic/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('fonts/texgyreadventor_regular_ubasic/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
};

@font-face {
    font-family: 'texgyreadventor';
    src: url('fonts/texgyreadventor_bold_ubasic/texgyreadventor-bold-webfont.eot');
    src: url('fonts/texgyreadventor_bold_ubasic/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreadventor_bold_ubasic/texgyreadventor-bold-webfont.woff') format('woff'),
         url('fonts/texgyreadventor_bold_ubasic/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('fonts/texgyreadventor_bold_ubasic/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: bold;
    font-style: normal;
};

@font-face {
    font-family: 'texgyreadventor';
    src: url('fonts/texgyreadventor_italic_ubasic/texgyreadventor-italic-webfont.eot');
    src: url('fonts/texgyreadventor_italic_ubasic/texgyreadventor-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreadventor_italic_ubasic/texgyreadventor-italic-webfont.woff') format('woff'),
         url('fonts/texgyreadventor_italic_ubasic/texgyreadventor-italic-webfont.ttf') format('truetype'),
         url('fonts/texgyreadventor_italic_ubasic/texgyreadventor-italic-webfont.svg#texgyreadventoritalic') format('svg');
    font-weight: normal;
    font-style: italic;
};

@font-face {
    font-family: 'texgyreadventor';
    src: url('fonts/texgyreadventor_bolditalic_ubasic/texgyreadventor-bolditalic-webfont.eot');
    src: url('fonts/texgyreadventor_bolditalic_ubasic/texgyreadventor-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreadventor_bolditalic_ubasic/texgyreadventor-bolditalic-webfont.woff') format('woff'),
         url('fonts/texgyreadventor_bolditalic_ubasic/texgyreadventor-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/texgyreadventor_bolditalic_ubasic/texgyreadventor-bolditalic-webfont.svg#texgyreadventorbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
};
