// customize bootstrap variables here:
@import "fonts";
@import "variables";
@import "bootstrap";

body  {
  background: $colourLight;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  a, a:hover, a:active {
    color: $colourDark;
  }
	font-weight:bold;
}

a:hover, a:active {
  color: $colourHighlight;
  text0-decoration: underline;
}

.row {
  background: $colourLightest;
}


/**--- navigation styling begin ---**/
body.logged-in {
	padding-bottom:50px;
}

.navbar-toggle {
  color: $colourLight;
}

#navbar {
  color: $colourLight;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  background: $colourDark;
	top: 0;
	z-index: 10000;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  a {
    color: $colourLight;
  }

  a:hover, a:active {
    color: $colourHighlight;
    background: rgba(0, 0, 0, 0);
  }

  ul.Publications {
    left: -100px;
  }

	.logo {
		float:left;
	}
}

.navbar {
	border-radius: 0;
  max-height: 1000px;
	background-color: $colourDark;
}

.navbar-nav {
  margin-top: 5px;
}

.nav > li > a:focus {
  background: rgba(0, 0, 0, 0);
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: rgba(0, 0, 0, 0);
}

.navbar-nav > li > .dropdown-menu {
  border: 0;
  border-radius: 0;
  background: $colourDark;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: $colourHighlight;
}

.navbar-collapse {
  border-top: 0;
}

#mobile-nav {
  ul {
    list-style: none;
    padding-left: 0;
    padding-top: 0.6em;
    li {
      padding-bottom: 0.6em;
      a:hover {
        text-decoration: none;
      }
    }
  }
}

/**--- navigation styling end ---**/

/**--- top main page elements begin ---**/

#top-spacer {
  height: 80px;
}

#bottom-spacer {
  height: 20px;
}

.container .jumbotron {
  padding: 0;
  border-radius: 0;
  margin-bottom: 0;
  background-color: inherit;
}

.page-header {
  margin: 0 0 10px;
  border: none;
}

.pane-local-or-network-posts {
  .feed-icon {
    display: none;
  }
}


/**--- top main page elements end ---**/

/**--- single post begin ---**/
.node-post {
  img {
    width: 100%;
    height: auto;
  }
}
/**--- single post end ---**/

/**--- sidebar begin ---**/

/* remove lines separating various sidebar elemenets */
.view-Local-or-network-publications, .view-Local-or-network-newsletters,
.view-post-titles-by-local-or-network, .view-similarterms {
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0;
  }
}
/**--- sidebar end ---**/

/**--- pagination begin ---**/
.pagination {
  border-radius: 0;
  border: 0;
}

.pagination > li > a, .pagination > li > span {
  color: $colourDark;
}

.pagination > li > a, .pagination > li > span,
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 2px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background: $colourHighlight;
  color: $colourLight;
}
/**--- pagination end ---**/

/**--- footer styles begin ---**/

footer {
  font-size: 16px;
  background: $colourDarkest;
  color: $colourLight;
  
  .row {
    background: $colourDark;
  }
  
  .last {
    padding-bottom: 1em;
  }
  
  #footer-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  h4 {
    font-size: 16px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a {
    color: $colourLight;
  }

  a:hover, a:active {
    text-decoration: none;
  }

  .footer-social-links {
    padding-top: 18px;
  }
}


/**--- footer styles end ---**/

/**--- contact styles begin ---**/

#contact-site-form {
	.form-group {
		@include make-row;
		margin-left:0;
		margin-right:0;

		label {
			@include make-sm-column(3);
			padding-left:0;
		}
		input, select, textarea {
			@include make-sm-column(9);
		}
		.grippie {
			@include make-sm-column(9);
			@include make-sm-column-push(3);
		}
	}
}
/**--- contact styles end ---**/

/**--- post page styles begin---**/

.node-type-post {
  .image, .meta {
      padding-bottom: 1em;
  }
}

.node-related-content {
  padding-top: 1em;
  .view-content {
    h3 {
      display: none;
    }
  }
}

/**--- post page styles end---**/

/**--- reusable elements ---**/

span.sf-icon {
  display: inline-block;
  width: 32px;
  height: 32px; 
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  background-position: -2px -16px;
}

span.sf-white-facebook {
  background-position: -2px -66px;
}


span.file {
  display: block;
  padding-bottom: 1em;
  img.file-icon {
    width: auto;
    padding: 0 5px 0 0;
  }
  
}

/**--- reusable elements end ---**/

